@import '../../../globalStyle.scss';

.mobile-nav-main{
    display: none;
}
.drawer{
    display: none;
}
.menu-items{
     background-color: $black-color; 
     height: 100%;
     color:$white-color;
}
