@import "../../globalStyle.scss";

.swiper-slide img {
  width: 100vw;
  height: 100%;
}

.home {
  position: relative;
  color: $white-color;
  background-color: $dark-mode-background-color;
}

.home-main {
  margin-top: 1px;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  background-color: $dark-mode-background-color;
  height: 80vh;
}
.swiper {
  position: relative;
}

.home-content {
  margin-top: 788px;
  background-color: $dark-mode-background-color;
  position: relative;
  width: 100vw;
  margin-top: 65vh;
}

.home-slider-txt {
  display: flex;
  flex-direction: column;
  left: 10vw;
  position: absolute;
  top: 30vh;
}

.home-slider-h1 {
  max-width: 80%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: $black-color;
  backdrop-filter: blur(1px);
  @media (prefers-color-scheme: dark) {
    color: $white-color;
  }
}

.home-slider-date {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  backdrop-filter: blur(1px);
}

.home-slider-lan {
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  backdrop-filter: blur(1px);
  color: $teal-color;
}

.home-slider-rating {
  backdrop-filter: blur(1px);
}

.home-slider-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 50%;
  backdrop-filter: blur(1px);
}

.home-trending-head {
  margin-left: 4.5rem;
}

.home-trending-head-main {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-block: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: $breakpoint-xl) {
  .home-main {
    height: 60vh;
  }
  .home-slider-h1 {
    font-size: 1.5rem;
  }
  .home-slider-p {
    line-height: normal;
  }

  .home-slider-date {
    font-size: 0.5rem;
  }
  .home-slider-lan {
    font-size: 0.5rem;
    font-weight: 500;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .swiper-slide img {
    height: 40vh;
    width: 100vw;
  }
  .home-slider-txt{
    top: 20vh;
  }

  .home-content {
    margin-top: 40vh;
  }
  .home-slider-h1 {
    font-size: 1.3rem;

    font-weight: 500;
    line-height: 1;
    max-width: 82%;
  }
  .home-slider-date {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .home-slider-lan {
    font-size: 0.5rem;
    font-weight: 500;
  }

  .home-slider-p {
    font-size: 10px;
    line-height: 10px;
    width: 80%;
  }
  .home-trending-head {
    margin-left: 0.5rem;
  }
  .home-trending-head-main {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-block: 0.5rem;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .mouse {
    display: none;
  }
  .home-slider-txt{
    top: 14vh;
  }
  .swiper-slide img {
    height: 35vh;
  }
  .home-main {
    margin-top: 3.5rem;
  }
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid $red-color;
  border-radius: 60px;
  position: absolute;
  top: -2vh;
  right: 48vw;
  z-index: 10;
}

.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 30px;
  background-color: $red-color;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: 40px;
  }
}
