$dark-mode-background-color: #333

.swiper-slide img
    width: 100vw
    height: 668px

    @media(max-width:1000px)
        height: 40vh
        width: 100vw

.home
    position: relative
    height: 100%

.home-main
    width: 100vw
    display: flex

.home-slider-h1
    position: absolute
    top: 21rem
    max-width: 80%
    font-size: 3rem
    font-weight: 600
    line-height: 1.5
    color: black
    left: 10rem
    backdrop-filter: blur(1px)

    @media (prefers-color-scheme: dark)
        color: white

    @media(max-width:1000px)
        font-size: 1.3rem
        left: 1.2rem
        top: 12rem
        font-weight: 500
        line-height: 1
        max-width: 82%

.home-slider-date
    text-align: left
    font-size: 1rem
    font-weight: 700
    top: 27rem
    position: absolute
    left: 10rem
    backdrop-filter: blur(1px)

    @media(max-width:1000px)
        top: 14.6rem
        left: 1.3rem
        font-size: 0.5rem
        font-weight: 500

.home-slider-lan
    text-align: left
    font-size: 1rem
    font-weight: 700
    top: 27rem
    position: absolute
    left: 16rem
    backdrop-filter: blur(1px)

    @media(max-width:1000px)
        top: 14.6rem
        left: 4.3rem
        font-size: 0.5rem
        font-weight: 500

.home-slider-rating
    top: -14.7rem
    left: 18rem
    position: relative
    backdrop-filter: blur(1px)

    @media(max-width:1000px)
        left: 1.2rem
        top: -6rem

.home-slider-p
    font-size: 0.875rem
    line-height: 15px
    width: 50%
    position: relative
    top: -230px
    left: 160px
    backdrop-filter: blur(1px)

    @media(max-width:1000px)
        font-size: 10px
        line-height: 10px
        top: -100px
        left: 1.2rem
        width: 80%

.home-trending-head
    margin-left: 4.5rem

    @media(max-width:1000px)
        margin-left: 0.5rem

.home-trending-head-main
    font-size: 1.5rem
    padding-block: 1rem
    padding-left: 1rem
    @media(max-width:1000px)
        font-size: 0.8rem
        padding-left: 0.5rem
        padding-block: 0.5rem
