@import '../../globalStyle.scss';

.movie{
  background-color: $dark-mode-background-color;
  padding-left: 4rem;
  position: relative;
  padding-top: 0.5rem;
  .movie-main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}



@media screen and (max-width:$breakpoint-md) {
  .movie{
    padding-inline: 3px;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }  
  .movie{.movie-main{
    gap: 10px;
  }
}

.movie-pagination{
  left:0vw;
  bottom: -30px;
  border-radius: 0px; 
  height: 30px;
  width: 100vw;
  background-color:rgb(82, 95, 109);
}
}

