@import "../../globalStyle.scss";


.sb {
  position: absolute;
  font-size: 3rem;
  color: $white-color;
  z-index: 10;
  top: 30px;
  right: 100px;

  @media (max-width: 600px) {
    display: none;
  }

  input {
    color: $white-color;
    border: 2px solid $teal-color;
    background: rgba(0, 0, 0, .8);
    opacity: .9;
    height: 3rem;
    padding-inline: 2rem;
    padding-right: 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;

    &:focus {
      background-color: $white-color;
      color: $black-color;
      outline: none;
      padding-right: 4rem;
      padding-left: 10px;
    }
  }

  button {
    position: absolute;
    right: 9px;
    top: 14px;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .sb {
    top: -25px;
    right: 30px;

    input {
      height: 1.5rem;
      width: 8rem;
      font-size: 10px;
      border: 2px solid $teal-color;
      padding-inline: 1rem;
      padding-right: 0rem;
      width: 140px;
    }

    button {
      margin-top: 1.7rem;
      margin-right: 0.1rem;
    }
  }
}
