.sb
    position: absolute
    font-size: 3rem
    color: white
    z-index: 10
    top: 40px
    right: 150px

    @media(max-width:1000px)
        top: -20px
        right: 80px

    input
        color: white
        border: 4px solid white
        background-color: transparent
        height: 3rem
        padding-inline: 2rem
        padding-right: 4rem
        font-size: 0.85rem
        border-radius: 1rem
        &:focus
            background-color: white
            color: black
            outline: none
            font-size: 1rem
            padding-right: 4rem

        @media(max-width:1000px)
            height: 2rem
            width: 10rem

    button
        position: absolute
        right: 0
        top: 0
        margin-top: 1.5rem
        margin-right: 1rem

        @media(max-width:1000px)
            margin-top: 2.6rem
            margin-right: 1rem
