@tailwind base
@tailwind components
@tailwind utilities

body
  background-color: #1D1D1D
  color: white
  overflow-x: hidden

.loading
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
