@tailwind base
@tailwind components
@tailwind utilities

html
  scroll-behavior: smooth
  font-family: 'Poppins', sans-serif
  height: max-content
  background-color: #1D1D1D
  @media(max-width:1000px)
    overflow-y: hidden
body
  color: white
  overflow-x: hidden

.loading
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

body::-webkit-scrollbar
  width: 0.25rem

body::-webkit-scrollbar-track
  background: black

body::-webkit-scrollbar-thumb
  background: red
