@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #1D1D1D;
    color: white;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.swiper-slide img {
    width: 100vw;
    height: 648px;
    
  }
  

  
